<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/style.css">
		<title>Document</title>
	</head>

	<body>
		<header class="bg-bit-blue h-20 flex items-center">
			<img class="w-36 h-[60%] mx-3" src="https://gro.jarvis.bit-academy.nl/assets/images/logo_white.svg" alt="bit-logo">
			<a class="text-white px-6 " href="/recipe">recipes</a>
			<a class="text-white" href="/kitchen">kitchens</a>
		</header>
		{% block body %}{% endblock%}
	</body>
</html>
